.header-block {
    margin: 10% 5% 10% 5%;
    background-color: antiquewhite;
    color: black;
}

.header-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}