.header-block {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: antiquewhite;
    color: black;
}

.header-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding-top: 10%;
    padding-bottom: 10%;
}